/* App container - Layout */
.app-container {
  display: flex;
  flex-direction: column; /* Stack navbar at the top */
  height: 100vh; /* Full height of the viewport */
}



/* Content area */
.content-area {
  margin-left: 250px;
  margin-top: 40px; /* Push the content right so it doesn’t overlap with the sidebar */
  flex: 1; /* Fill up the remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if the content is taller than the screen */
}
