<div  id="sidebar" class="sidebar app_sidebar tw-bg-white tw-text-gray-900">
  <ul class="sidebar-menu">

    <!-- Clients -->
    <li class="nav-item">
      <a routerLink="/clients" routerLinkActive="active" class="sidebar-link">
        <mat-icon>person</mat-icon>  <!-- Utilisation de l'icône "person" d'Angular Material -->
        <span class="menu-text">Clients</span>
      </a>
    </li>

    <!-- Offres -->
    <li class="nav-item">
      <a routerLink="/offres" routerLinkActive="active" class="sidebar-link">
        <mat-icon>badge</mat-icon>  <!-- Utilisation de l'icône "badge" d'Angular Material -->
        <span class="menu-text">Offres</span>
      </a>
    </li>

    <!-- Abonnements -->
    <li class="nav-item">
      <a routerLink="/souscriptions" routerLinkActive="active" class="sidebar-link">
        <mat-icon>receipt</mat-icon>  <!-- Utilisation de l'icône "receipt" d'Angular Material -->
        <span class="menu-text">Abonnements</span>
      </a>
    </li>

    <!-- Statistiques -->
    <li class="nav-item">
      <a routerLink="/statistiques" routerLinkActive="active" class="sidebar-link">
        <mat-icon>bar_chart</mat-icon>  <!-- Utilisation de l'icône "bar_chart" d'Angular Material -->
        <span class="menu-text">Statistiques</span>
      </a>
    </li>

  </ul>
</div>
