/* Ajoutez des styles personnalisés ici */
.container {
  margin-left: 320px;
  margin-top: 40px; /* Push the content right so it doesn’t overlap with the sidebar */
  flex: 1; /* Fill up the remaining space */
  padding: 50px;
  overflow-y: auto;
}

.card-header {
  background-color: #1e3a8a ;  /* Remplace cette couleur par celle de ta navbar */
  color: white !important;
}
.btn-close {
  position: absolute; /* Permet de le positionner à une position spécifique */
  top: 10px; /* Ajustez la distance du bord supérieur */
  right: 10px;
  color: white;
   /* Ajustez la distance du bord droit */
}

table {
  margin-top: 20px;
  text-align: center;
}

.btn-sm {
  margin-right: 5px;
}
app-navbar {
  z-index: 1000; /* Keep navbar above other content */
  position: relative;
}

/* Main content area */
.app-content {
  display: flex;
  height: 100%; /* Take full remaining height */
}

/* Sidebar positioning */
app-sidebar {
  width: 250px; /* Sidebar width */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Full height */
  background-color: #f3f4f6;
  z-index: 500; /* Keep sidebar below navbar */
}
@media (max-width: 768px) {
  app-sidebar {
    display: none; /* Slightly smaller sidebar on mobile */
  }


}
